<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<form action="/answer">
  <input class = "outline-secondary" type="text" name="question">
  <input class = "btn btn-primary" type="submit" value="Ask!">
</form>
